@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src: url("fonts/roboto-v30-latin-100.woff2") format("woff2"),
    url("fonts/roboto-v30-latin-100.woff") format("woff"),
    url("fonts/roboto-v30-latin-100.eot?#iefix") format("embedded-opentype"),
    url("fonts/roboto-v30-latin-100.ttf") format("truetype"),
    url("fonts/roboto-v30-latin-100.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("fonts/roboto-v30-latin-300.woff2") format("woff2"),
    url("fonts/roboto-v30-latin-300.woff") format("woff"),
    url("fonts/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"),
    url("fonts/roboto-v30-latin-300.ttf") format("truetype"),
    url("fonts/roboto-v30-latin-300.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("fonts/roboto-v30-latin-regular.woff") format("woff"),
    url("fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/roboto-v30-latin-regular.ttf") format("truetype"),
    url("fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("fonts/roboto-v30-latin-500.woff2") format("woff2"),
    url("fonts/roboto-v30-latin-500.woff") format("woff"),
    url("fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"),
    url("fonts/roboto-v30-latin-500.ttf") format("truetype"),
    url("fonts/roboto-v30-latin-500.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("fonts/roboto-v30-latin-700.woff") format("woff"),
    url("fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"),
    url("fonts/roboto-v30-latin-700.ttf") format("truetype"),
    url("fonts/roboto-v30-latin-700.svg#Roboto") format("svg");
}

.form_outer {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  padding: 20px;
  width: 35%;
}

form label,
form input {
  width: 100%;
}

form .button {
  width: 150px;
  padding: 0;
}

.logo {
  height: 162px;
  margin-top: 57px;
}

.toolbar {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar > div:nth-child(1) {
  margin-left: 10px;
}

.toolbar > div:nth-child(2) {
  margin-right: 10px;
}

.mdl-textfield {
  width: 100%;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: #2b787d !important;
}

.mdl-textfield__label:after {
  background-color: #2b787d !important;
}

.login_outer {
  display: flex;
  justify-content: space-between;
}

.image_outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_outer img {
  margin-bottom: 20px;
}

.image_outer img:nth-child(1) {
  margin-right: 10px;
  height: 60px;
}

.image_outer img:nth-child(2) {
  margin-left: 10px;
  height: 60px;
}

.is-focused {
  color: #2b787d;
}

.mdl-button--raised {
  background: #2b787d;
  color: white;
}

.mdl-button--raised:hover {
  background: #2b787d;
}

i {
  color: white;
}

a {
  text-decoration: none;
}

.kc-feedback-text {
  padding: 0 0 20px;
}

@media screen and (min-width: 1400px) {
  form {
    width: 25%;
  }
}

@media screen and (max-width: 800px) {
  form {
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .image_outer {
    flex-direction: column;
  }
}
